<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Condiciones</th>
            <th>Ranking</th>
        </tr>
    </thead>
    <tbody>
        {{#each deporte}}
        <tr>
            <td>{{Nombre}}</td>
            <td>{{Descripcion}}</td>
            <td>{{Condiciones}}</td>
            <td>{{Ranking}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>