<footer class="footer">
    <div class="container">
        <div class="footer-columns">
            <div class="footer-column about">
                <h3>Fit Seven Gym</h3>
                <p>En Fit Seven Gym, estamos dedicados a tu bienestar. Ofrecemos una variedad de servicios diseñados para ayudarte a alcanzar tus metas de fitness en un ambiente motivador y acogedor.</p>
            </div>
            <div class="footer-column links">
                <h3>Enlaces Rápidos</h3>
                <ul>
                    <li><a href="preguntasFrecuentes.html">FAQ</a></li>
                    <li><a href="paginaDonaciones.html">Página Donaciones</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contactenos.html">Contáctenos</a></li>
                    <li><a href="comoayudar.html">Cómo Ayudar</a></li>
                </ul>
            </div>
            <div class="footer-column contact">
                <h3>Contáctanos</h3>
                <p><i class="fas fa-map-marker-alt"></i> Centro Comercial Santa Mónica, Miraflores, frente a INFOP, Tegucigalpa, Honduras</p>
                <p><i class="fas fa-phone"></i> +504 8956-5823</p>
                <p><i class="fas fa-envelope"></i> infoseven@gmail.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 Fit Seven Gym | Diseñado por Grupo 2
        </div>
    </div>
</footer>
